body,
main,
header {
    font-family: $font-family-sans;
}

main {
    background-image: url("../images/tenis-pista.jpg");
    background-color: $cesped;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // height: 100vh;
    min-height: 100%;
}

/*********************************************
*          Estilos portada
**********************************************/
.window {
    max-width: 1280px;
    margin: 40px auto;
    height: calc(
        100% - 180px
    ); // El 100% del alto de la ventana menos el header y el footer (70px + 10px de margen y 60px + 10px de margen)
}
.window__poster {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    height: 100%;
}
@supports not (display: grid) {
    .window__poster {
        display: inline-block;
    }

    .window__poster > * {
        display: inline-block;
    }
}
div:is([class^="card-"]) h2 {
    font-size: 22px;
}

.card :is(h2),
.card :where(h2) {
    font-size: 18px;
}
.card-comida,
.card-clases,
.card-inscripciones {
    padding: 15px;
    line-height: 2rem;
    font-size: $p-size;
}
.card-subtitle {
    line-height: 2.5rem;
    grid-row: 1/2;
    grid-column: 2/5;
    font-family: $h1-f;
    font-weight: $h1-w;
    font-size: $h2-size-tablet;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $pista;
    padding: 50px;
}
.card-inscripciones {
    background-color: $arena;
    grid-row-start: 1;
    grid-row-end: 3;
}
.card-comida {
    background-color: $pista;
    grid-column-start: 1;
    grid-column-end: 3;
}
.card-clases {
    background-color: #fff;
    color: $arena;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.balls {
    display: flex;
    align-items: end;
    justify-content: end;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}
.card-button {
    grid-column: 2/4;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $h2-size;
    color: $arena;
    font-weight: $h2-w;
    font-family: $font-family-header;
    padding: 25px;
}
.card-inscripciones__title,
.card-comida__title,
.card-clases__title {
    font-size: $h2-size;
    font-family: $h2-f;
    margin-bottom: 20px;
    line-height: 1.2;
}
.card-inscripciones__text,
.card-comida__text,
.card-clases__text {
    color: $white;
}
.card-inscripciones__title,
.card-comida__title {
    color: $white;
}

/************* Fin portada *************/

/*********************************************
*          Estilos Header
**********************************************/
.header {
    max-width: 100%;
    min-height: 70px;
    background-color: rgba(255, 255, 255, 0.85);
    margin-bottom: 0px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1280px;
    margin: auto;
    padding-top: 25px;
}
.header__logo {
    display: inline;
    font-size: $h2-size;
    font-weight: $h1-w;
    font-family: $font-family-header;
    font-style: italic;
    // border-bottom: #000 dotted 1px;
    color: $cesped;
    padding-bottom: 0px;
    margin-bottom: 20px;
}
.header__nav-item,
.header__nav-item--active {
    display: inline-block;
    margin-right: 12px;
    font-weight: bold;
}
.header__nav-item--active {
    color: $arena;
    text-decoration: underline;
}
.header__logo--span {
    color: #000;
}
/************* Fin Header *************/
/*********************************************
*          Estilos TABLET
**********************************************/

@media (max-width: 980px) {
    main {
        height: inherit;
    }
    .window {
        height: inherit;
    }
    .window__poster {
        grid-template-rows: repeat(4, auto);
    }
    .header__content {
        display: flex;
        justify-content: space-between;
        align-content: center;
        max-width: 100%;
        margin: auto;
        padding: 20px 25px 0;
    }
    .card-subtitle {
        grid-row: 1/2;
        grid-column: 1/5;
        font-size: $h1-size-tablet;
        text-align: center;
    }
    .card-inscripciones__title,
    .card-comida__title,
    .card-clases__title {
        font-size: $h2-size-tablet;
        font-family: $h2-f;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    .card-inscripciones {
        grid-row: 2/4;
        height: auto;
    }
    .card-clases {
        grid-row: 4/5;
        grid-column: 3/5;
    }
    .card-comida {
        grid-row: 4/5;
    }
    .balls {
        grid-row: 2/3;
    }
    .balls img {
        max-height: 150px;
    }
    .card-button {
        grid-row: 3/4;
        grid-column: 2/5;
    }
}

/************* Fin TABLET *************/
/*********************************************
*          Estilos MOVIL
**********************************************/

@media (max-width: 480px) {
    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__logo {
        font-size: 20px;
    }
    .header__nav {
        padding-bottom: 30px;
    }
    .header__content {
        display: flex;
        justify-content: space-between;
        align-content: center;
        max-width: 100%;
        margin: auto;
        padding: 20px 25px 0;
    }
    .window__poster {
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }
    .card-title {
        display: none;
    }

    .card-clases {
        grid-row: 4/5;
        grid-column: 3/5;
    }
    .card-comida {
        grid-row: 4/5;
    }
    .balls {
        display: none;
    }
    .balls img {
        max-height: 150px;
    }
    .card-button {
        padding: 25px;
    }
    .card-subtitle {
        order: -1;
    }
}

/************* Fin MOVIL *************/
