<div class="header">
    <div class="header__content">
        <h1 class="header__logo">
            Club de tenis
            <span class="header__logo--span">Al-Gandul</span>
        </h1>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item--active"><a href="index.html">Page1</a></li>
                <li class="header__nav-item"><a href="members.html">Equipo</a></li>
                <li class="header__nav-item"><a href="blog.html">Blog</a></li>
                <li class="galeria"><a href="article.html">Post</a></li>
            </ul>
        </nav>
    </div>
</div>
