<header>
    <nav class="header navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="./assets/images/balls.png" alt="Logo" height="30" />
                <h1 class="header__logo">
                    Club de tenis
                    <span class="header__logo--span">Al-Gandul</span>
                </h1>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="fa-solid fa-house"></i>
                            Portada
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="members.html">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="page4.html">Pong</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
