@use "sass:color";
$h1-f: "Arial Black", "Helvetica Neue";
$h2-f: "Arial Black", "Helvetica Neue";
$h1-w: bolder;
$h2-w: bolder;
$h1-size: 60px;
$h1-size-tablet: 45px;
$h2-size: 30px;
$h2-size-tablet: 28px;
$p-size: 18px;
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-sans: "Helvetica Neue", "Raleway", serif;
$font-family-header: "Arial Black";

$arena: #d0673d;
$arena-opacity: #d0673d7d;
$cesped: #507240;
$cesped-opacity: #5072408f;
$pista: #0166a4;
$pista-opacity: rgba(1, 101, 164, 0.5);
$white: #fff;
$black: #000;

$mqMinWidth: 420px;
